<div class="footer-container">
    <div class="footer-container-content">
        <div class="footer-container-content-navigation">
            <div class="footer-container-content-navigation-links">About</div>
            <div class="footer-container-content-navigation-links">Contact</div>
            <div class="footer-container-content-navigation-links">Privacy Policy</div>
        </div>
        <div class="footer-container-content-navigation">
            Copyright © 2017 innogar.com. All rights reserved.
        </div>
    </div>
</div>